project/bin/.git/
project/bin/out/
project/bin/_*/
project/bin/lib/
project/bin/*.jar
project/bin/*.py
project/bin/tokens/
project/bin/*.tar.*
project/bin/reports/
project/bin/subjects/
project/bin/src/
project/doc/
project/build/
.git/
project/.gradle/
project/gradlew
project/gradlew.bat
project/gradle/
**/*.lock
project/.idea/
project/.gitattributes
*.zip
logo*
Dockerfile
paper/

